body{
	background-image: linear-gradient(orange,red,orange)
}
h1{
	color: red;
	font-size: 14px;
	font: bold;
}
div{
	border:5px solid;
	padding-left: 70px;
	padding-right: 70px;
}
.me{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 25%;
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}